{% extends "maker-base.html" %}



{% block imports %}
<link href='/style/maker-menu.css' rel='stylesheet'>
{% endblock %}


{% block body %}


<div id="maker-menu">

    <div id="rpg-menu" class="maker-submenu">
        <div class="maker-menu-title">RPG</div>
        <div class="maker-menu-button" onclick="fadeTo('/editor/rpg/maps')">Maps</div>
        <div class="maker-menu-button" onclick="fadeTo('/editor/rpg/events')">Events</div>
        <div class="maker-menu-button" onclick="fadeTo('/editor/rpg/npcs')">NPCs</div>
        <div class="maker-menu-button" onclick="fadeTo('/editor/rpg/player')">Player</div>
    </div>
    <div id="metro-menu" class="maker-submenu">
        <div class="maker-menu-title">Metroidvania</div>
        <div class="maker-menu-button" onclick="fadeTo('/editor/metro/maps')">Maps</div>
        <div class="maker-menu-button" onclick="fadeTo('/editor/metro/events')">Events</div>
        <div class="maker-menu-button" onclick="fadeTo('/editor/metro.npcs')">NPCs</div>
        <div class="maker-menu-button" onclick="fadeTo('/editor/metro/player')">Player</div>
    </div>
    <div id="global-menu" class="maker-submenu">
        <div class="maker-menu-title">Global</div>
        <div class="maker-menu-button" onclick="fadeTo('/editor/global/story')">Story</div>
    </div>
</div>

{% endblock %}