{% extends "maker-base.html" %}



{% block imports %}
<link href='/style/maker-menu.css' rel='stylesheet'>
{% endblock %}


{% block body %}


<div id="maker-menu">
    <div id="rpg-menu">
        <div class="main-menu-button" onclick="fadeTo('/editor/rpg/maps')">Maps</div>
        <div class="main-menu-button" onclick="fadeTo('/editor/rpg/events')">Events</div>
        <div class="main-menu-button" onclick="fadeTo('/editor/rpg/npcs')">NPCs</div>
        <div class="main-menu-button" onclick="fadeTo('/editor/rpg/player')">Player</div>
    </div>
    <div id="metro-menu">
        <div class="main-menu-button" onclick="fadeTo('/editor/metro/maps')">Maps</div>
        <div class="main-menu-button" onclick="fadeTo('/editor/metro/events')">Events</div>
        <div class="main-menu-button" onclick="fadeTo('/editor/metro.npcs')">NPCs</div>
        <div class="main-menu-button" onclick="fadeTo('/editor/metro/player')">Player</div>
    </div>
    <div id="global-menu">
        <div class="main-menu-button" onclick="fadeTo('/editor/global/story')">Story</div>
    </div>
</div>

{% endblock %}