


#rpg-content{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rpg-map{
    position: absolute;
    top:5%;
    background-color: darkgreen;
    width: 100%;
    height: 50%;
}