

#editor {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.editor-panel{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    background-color: lightgray;
}
.editor-canvas{
    width: 70%;
    height: 100%;
    background-color: cyan;
}
