{% extends "base.html" %}



{% block imports %}
<link href='/style/main-menu.css' rel='stylesheet'>
{% endblock %}


{% block body %}


<div id="main-menu">
        <div id="main-menu-buttons">
            <div class="main-menu-button" onclick="fadeTo('/new-game')">New Game</div>
            <div class="main-menu-button" onclick="fadeTo('/load-game')">Load Game</div>
            <div class="main-menu-button" onclick="fadeTo('/rpg-test')">RPG Test</div>
            <div class="main-menu-button" onclick="fadeTo('/metro-test')">Metroidvania Test</div>
        </div>
</div>

{% endblock %}